/* About Section Swap Styles */
.cs_about_swap .row {
  display: flex;
}

.cs_about_swap .cs_about_thumbnail_col {
  order: 2;
}

.cs_about_swap .cs_about_content_col {
  order: 1;
}

/* Adjust margins when swapped */
.cs_about_swap .cs_about_thumbnail {
  margin-right: 0;
  margin-left: 36px;
}

@media (max-width: 1199px) {
  .cs_about_swap .cs_about_thumbnail {
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .cs_about_swap .cs_about_thumbnail {
    margin-left: 0;
  }
  
  .cs_about_swap .cs_about_thumbnail_col {
    order: 1;
  }
  
  .cs_about_swap .cs_about_content_col {
    order: 2;
  }
}

/* Testimonial Video Button Styles */
.cs_card.cs_style_1 .cs_card_thumbnail .cs_player_btn.cs_style_2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  margin: 0;
}
